<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS & Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">

    <!-- Own Style Sheet using CSS -->
    <link href="static/styleswork.css" rel="stylesheet">
    <link href="static/stylessitewide.css" rel="stylesheet">

    <title>JESSKETCHES: ACCEPTANCE </title>

    <!-- Linking JESSKETCHES logo for the favicon -->
    <link rel="shortcut icon" href="/static/favicon.ico">
  </head>
  <body>
    <!-- Top navigation bar -->
    <nav class="navbar navbar-expand-sm navbar-light bg-transparent">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img src="/static/jsklogo.png" width="40" height="40" class="d-inline-block align-top" alt="JESSKETCHES logo, homepage link" loading="lazy">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                WORK
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" aria-current="page" href="/ACCEPTANCE">ACCEPTANCE</a></li>
                <li><a class="dropdown-item" href="/C19">C19</a></li>
                <li><a class="dropdown-item" href="/COMMISSIONS">COMMISSIONS</a></li>
                <li><a class="dropdown-item" href="/DREAMLAND">DREAMLAND</a></li>
                <li><a class="dropdown-item" href="/FASHUN">FASHUN</a></li>
                <li><a class="dropdown-item" href="/FLORAL+">FLORAL+</a></li>
                <li><a class="dropdown-item" href="/INTERIORS">INTERIORS</a></li>
                <li><a class="dropdown-item" href="/JUSTJUMP">JUST JUMP</a></li>
                <li><a class="dropdown-item" href="/PEOPLE&PLACES:LONDON">PEOPLE&PLACES: LONDON</a></li>
                <li><a class="dropdown-item" href="/SOMEBODIES">SOMEBODIES</a></li>
                <li><a class="dropdown-item" href="/TATTOO">TATTOO</a></li>
                <li><a class="dropdown-item" href="/THREAD">THREAD</a></li>
                <li><a class="dropdown-item" href="/X(R)PLORATION">X(R)PLORATION</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="ABOUT_ME">ABOUT ME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="CONTACT">CONTACT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="SHOP">SHOP</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Fixed footer link to instagram page -->
    <ul class="nav justify-content-end fixed-bottom">
      <li class="nav-item">
        <a class="nav-link" href="https://www.instagram.com/jess.ketches/">
          <i class="bi bi-instagram" role="img" aria-label="Instagram Link" style="font-size:1.5rem;"></i>
        </a>
      </li>
    </ul>

    <!-- Page content with responsive layout -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2 col-md-3 col-lg-4 col-1"></div>
        <div class="col-sm-8 col-md-6 col-lg-4 col-10">
          <!-- Title of page -->
          <h1>ACCEPTANCE</h1>
          <h2>Coming to terms with an unexpected challenge, three self-portraits over four years</h2><br>
          <!-- Artwork -->
          <img class="img-fluid rounded my-3" src="/static/WORK/ACCEPTANCE/faded.jpeg"
          alt="Self portrait on a cream coloured background of the artists face looking bewildered and exhausted. Face and shoulders outlined in
          pencil, with the background surrounding her painted a translucent white using acrylic paints.">
          <h5><em>FADED</em>  2016</h5>
          <img class="img-fluid rounded my-3" src="/static/WORK/ACCEPTANCE/out_of_my_hands.jpeg"
           alt="Self portrait of the artists face looking upwards in a plea for guidance or explanation for her circumstances. She is painted with
           quick brush strokes and realistic colour. The top half of the background is deep blue with a pattern of yellow crowns within it, and the
           bottom half yellow, with some of the blue background dripping over her face.">
          <h5><em>SURRENDER</em>  2016-2020</h5>
          <img class="img-fluid rounded my-3" src="/static/WORK/ACCEPTANCE/acceptance.jpeg"
          alt= "Photograph of the artists face, who is looking directly into the camera. Her face spans the width and height of the photo, there is
          minimal background which is a light blue. Two lines of deep blue paint are dripping down her face.">
          <h5><em>ACCEPTANCE</em>  2020</h5>
        </div>
        <div class="col-sm-2 col-md-3 col-lg-4 col-1"></div>
      </div>
    </div>


    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
  </body>
</html>

