<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS & Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">

    <!-- Own Style Sheet using CSS -->
    <link href="static/styleswork.css" rel="stylesheet">
    <link href="static/stylessitewide.css" rel="stylesheet">

    <title>JESSKETCHES: C19</title>

    <!-- Linking JESSKETCHES logo for the favicon -->
    <link rel="shortcut icon" href="/static/favicon.ico">
  </head>
  <body>
    <!-- Top navigation bar -->
    <nav class="navbar navbar-expand-sm navbar-light bg-transparent">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img src="/static/jsklogo.png" width="40" height="40" class="d-inline-block align-top" alt="JESSKETCHES logo, homepage link" loading="lazy">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                WORK
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="/ACCEPTANCE">ACCEPTANCE</a></li>
                <li><a class="dropdown-item" aria-current="page" href="/C19">C19</a></li>
                <li><a class="dropdown-item" href="/COMMISSIONS">COMMISSIONS</a></li>
                <li><a class="dropdown-item" href="/DREAMLAND">DREAMLAND</a></li>
                <li><a class="dropdown-item" href="/FASHUN">FASHUN</a></li>
                <li><a class="dropdown-item" href="/FLORAL+">FLORAL+</a></li>
                <li><a class="dropdown-item" href="/INTERIORS">INTERIORS</a></li>
                <li><a class="dropdown-item" href="/JUSTJUMP">JUST JUMP</a></li>
                <li><a class="dropdown-item" href="/PEOPLE&PLACES:LONDON">PEOPLE&PLACES: LONDON</a></li>
                <li><a class="dropdown-item" href="/SOMEBODIES">SOMEBODIES</a></li>
                <li><a class="dropdown-item" href="/TATTOO">TATTOO</a></li>
                <li><a class="dropdown-item" href="/THREAD">THREAD</a></li>
                <li><a class="dropdown-item" href="/X(R)PLORATION">X(R)PLORATION</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="ABOUT_ME">ABOUT ME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="CONTACT">CONTACT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="SHOP">SHOP</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Fixed footer link to instagram page -->
    <ul class="nav justify-content-end fixed-bottom">
      <li class="nav-item">
        <a class="nav-link" href="https://www.instagram.com/jess.ketches/">
          <i class="bi bi-instagram" role="img" aria-label="Instagram Link" style="font-size:1.5rem;"></i>
        </a>
      </li>
    </ul>

    <!-- Title of page with responsive layout -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2 col-md-3 col-xl-4 col-1"></div>
        <div class="col-sm-8 col-md-6 col-xl-4 col-10">
          <h1>C19</h1>
          <h2>Sketches, photographs, paintings and animations created throughout the COVID-19 pandemic (or relevant to this experience)</h2>
          <p>A state of flux: gratitude for provisions to ‘stay safe’ working from home, yet fear of how long it will last; appreciation for
          music, art, companionship, time to just be, but frustration of grieving without each other, without embrace; peace, loss.</p><br>
        </div>
        <div class="col-sm-2 col-md-3 col-xl-4 col-1"></div>
      </div>
    </div>

    <!-- Artwork -->
    <div class="container-fluid">
      <div class="row" style="width: 50%; margin: auto;">
        <div class="col">
          <img class="img-fluid rounded my-3" src="/static/WORK/C19/Els.jpeg"
          alt="Pencil drawing of trainers and ankles, from the perspective of sitting next to the person with their legs stretched out in
          front of themselves. Feet are upright on a floor of grass and little yellow buttercup flowers. The colours have been added using
          pencils and watercolour, and are overly vibrant compared to reality. The trainers have an orange rim, purple laces and a purple
          tongue, with a white body, and the socks are neon blue.">
          <h5><em>ELS</em>  2020</h5>
          <p>Observational drawing of a loved ones shoes, as we revelled in the magic of being able to sit outside together again.</p><br>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 col-12 px-5 px-sm-2">
          <img class="img-fluid rounded my-3" src="/static/WORK/C19/covid-schmovid.jpeg"
          alt="Greyscale photograph of graffiti on a wall inside a tunnel. Written in graffiti using chalk is ‘COVID-SCHMOVID’">
          <img class="img-fluid rounded my-3" src="/static/WORK/C19/nhs.jpeg"
          alt="Greyscale photograph of graffiti on a wall inside a tunnel. Written in graffiti using chalk is ‘NHS’ within a coloured-in
          rounded oblong.">
        </div>
        <div class="col-sm-8 col-12 px-5 px-sm-2">
          <img class="img-fluid rounded my-3" src="/static/WORK/C19/i_miss_cuddles,_me_too.jpeg"
          alt="Greyscale photograph of graffiti on a wall inside a tunnel. Written in graffiti using chalk is ‘I MISS CUDDLES’ which has
          been circled, and then below ‘me too’ which has been underlined. Other graffiti is also visible within the image.">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 col-0"></div>
        <div class="col-sm-8 col-12 px-5 px-sm-2">
          <h5><em>CHALK IT OUT</em>  2020</h5>
          <p>Photographs taken to document the chalked expressions under a tunnel on a country walk.</p><br>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5 col-12 px-5 px-sm-2">
          <img class="img-fluid rounded my-3" src="/static/WORK/C19/lonely.jpeg"
          alt="Greyscale photograph of an empty car park in the dark, lit up by the photographers car headlights. Photograph has been turned
          upside-down.">
          <h5><em>ALONE</em>  2020</h5>
        </div>
        <div class="col-sm-7 col-0"></div>
      </div>
      <div class="row mt-3">
        <div class="col-3"></div>
        <div class="col-6">
          <img class="img-fluid rounded my-4" src="/static/WORK/C19/C19_Air1.jpg"
          alt="Greyscale photograph of a piece of paper with multiple outlines of circles made out of individual dots, which has a deep dark
          shadow of the window and netting the paper has been placed next to. This shadow has created a bar like shape.">
          <img class="img-fluid rounded my-4" src="/static/WORK/C19/C19_Air2.jpg"
          alt="Greyscale photograph of a piece of paper with multiple outlines of circles made out of individual dots, which has a  grey shadow
          of the window and netting the paper has been placed next to. This shadow has created a bar like shape.">
        </div>
        <div class="col-3"></div>
      </div>
      <div class="row">
        <div class="col-md-3 col-0"></div>
        <div class="col-md-6 col-12">
          <h5><em>PROTECTION & PREVENTION</em>  2020</h5>
          <p>I was playing with light and shadows created by a front facing window in my home. Pen on paper was used to dot a symbol of
          COVID 19 floating around outside. There are mixed emotions for the bar like shadows created by the net curtains; gratitude for
          protecting us from the virus, yet frustration for holding us back from embracing those we love.</p>
        </div>
        <div class="col-md-3 col-0"></div>
      </div>
      <div class="row">
        <div class="col-sm-4 col-5">
          <img class="img-fluid rounded my-3" src="/static/WORK/FASHUN/contactless.jpeg"
          alt="Greyscale photograph of cut-outs of three models on white paper. The top right model has her eyes cut-out and left blank, the middle
          left model has their face cut-out and left blank, and the bottom right model has her face cut-out and left blank.">
          <h5><em>CONTACTLESS</em>  2020</h5><br>
        </div>
        <div class="col-sm-8 col-7">
          <br><br><img class="img-fluid rounded mt-5 mb-3" src="/static/WORK/C19/camino_sunset.jpeg"
          alt="Photograph of a collage within an A5 book, placed on a black sheet. The collage is made up of lots of teared out pieces of
          images of the countryside, the sky, cathedrals, mountains and sunsets which cover the entire two page spread. The overall image
          starts as a grassy green at the bottom, with parts of cathedrals and other buildings emerging out of the green, which transitions
          into bright yellows and oranges, then light pinks and purples, then nearing the top light blues which turn to dark blue and then
          almost black. The overall image suggests a sunset on the camino.">
          <h5><em>CAMINO</em>  2020</h5>
          <p>Dreaming of a Camino de Santiago sunset, where I had planned to be at that time - but was sat in bed in lockdown instead.</p><br>
        </div>
      </div>
      <div class="row">
        <div class="col-8">
          <img class="img-fluid rounded my-3" src="/static/WORK/C19/park_paradise.jpeg"
          alt="Drawing using black charcoal on white paper of a single tree in the centre, with grass and bushes in the bottom tenth of the paper.">
          <h5><em>PARK PARADISE</em>  2019</h5>
        </div>
        <div class="col-4">
          <img class="img-fluid rounded my-3" src="/static/WORK/C19/time1.jpeg"
          alt="Pencil drawing on white paper of an apple on the right side of the paper shining in the sunlight, with a long shadow drawing
          out onto the left side of the paper.">
          <h5><em>TIME[1]</em>  2019</h5>
          <img class="img-fluid rounded my-3" src="/static/WORK/C19/time2.jpeg"
          alt="Pencil drawing on white paper of two candles and their candle holders. The candle holders are shaped like musical notes with
          the bulbous candles sitting from the middle of the structures.">
          <h5><em>TIME[2]</em>  2019</h5>
          <img class="img-fluid rounded my-3" src="/static/WORK/C19/ordering_honey_online.jpeg"
          alt="Pencil drawing on white paper of a jar of honey, with a very gentle light shadow.">
          <h5><em>TIME[3]</em>  2020</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <img class="img-fluid rounded my-3" src="/static/WORK/C19/hitting_the_limit.jpeg"
          alt="Pencil drawing of a wooden figure looking forwards with the words ‘HITTIN THE LIMIT’ written in block grey pen with a black
          outline behind the figure. The words take up the entire background of the page, with a black horizontal line a tenth from the top
          of the image behind the text ‘HITTIN’.">
          <h5><em>HITTING THE LIMIT</em>  2020</h5>
          <img class="img-fluid rounded my-3" src="/static/WORK/C19/figure_exploration.jpeg"
          alt="Pen drawing using black pen and a messy green painted background of a wooden figure leaping across the page.">
          <h5><em>FIGURE EXPLORATION</em>  2020</h5>
        </div>
        <div class="col-8">
          <img class="img-fluid rounded my-3" src="/static/WORK/C19/sitting,waiting,thinking.jpeg"
          alt="Pen drawing using black pen of a wooden figure leaning against a green object that fades away as you look down the page. The
          figure is looking down slightly hunched over.">
          <h5><em>SITTING, THINKING</em>  2020</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2 col-1"></div>
        <div class="col-sm-8 col-10">
          <img class="img-fluid rounded my-3" src="/static/WORK/C19/mums_garden.jpeg"
          alt="A pencil drawing with watercolour added on beige paper. A woman is sat on a garden chair reading a book in the middle of the
          page, this is only in pencil with no colour added. She is surrounded by green grass, foliage, and propped up runner beans growing
          behind her. There is a rusty red fence in the background.">
          <h5><em>MUM'S NEW HQ</em>  2020</h5><br>
        </div>
        <div class="col-sm-2 col-1"></div>
      </div>
      <div class="row">
        <div class="col-sm-3 col-1"></div>
        <div class="col-sm-6 col-10">
          <img class="img-fluid rounded my-3" src="/static/WORK/C19/merry_christmas.jpeg"
          alt="A collage on cream paper including a girl in angel clothing sat inside a bubbly silver ring, with another bubbly silver circle
          inside, with gold stars placed sporadically near the borders.">
          <h5><em>IT'S A COVID CHRISTMAS</em>  2020</h5><br>
        </div>
        <div class="col-sm-3 col-1"></div>
      </div>
      <div class="row my-3 item_break"></div>
      <div class="row">
        <div class="col-sm-2 col-1"></div>
        <div class="col-sm-8 col-10">
          <div class="d-flex justify-content-center mt-5">
            <iframe width="575" height="325" src="https://www.youtube.com/embed/FkEPkf66ayU"
            title="Hand drawn animation of the following images transitioning into each other; wine glass, London Underground sign, musical
            note, South London view, a smile, and the moon and stars."
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <h5 class="my-3 text-center text-uppercase"><em>Things I learnt I loved locked down in 2020</em>  2020</h5>
          <p class="text-center">2D Drawn Animation</p><br>
        </div>
        <div class="col-sm-2 col-1"></div>
      </div>
      <div class="row my-3 item_break"></div>
    </div>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
  </body>
</html>