<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS & Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">

    <!-- Shopping Cart Icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Own Style Sheet using CSS -->
    <link href="static/stylesshop.css" rel="stylesheet">
    <link href="static/stylessitewide.css" rel="stylesheet">

    <title>JESSKETCHES: CHECKOUT</title>

    <!-- Linking JESSKETCHES logo for the favicon -->
    <link rel="shortcut icon" href="/static/favicon.ico">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-danger" role="alert">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
  </head>
  <body>
    <!-- Top navigation bar -->
    <nav class="navbar navbar-expand-sm navbar-light bg-transparent">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img src="/static/jsklogo.png" width="40" height="40" class="d-inline-block align-top" alt="JESSKETCHES logo, homepage link" loading="lazy">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                WORK
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="/ACCEPTANCE">ACCEPTANCE</a></li>
                <li><a class="dropdown-item" href="/C19">C19</a></li>
                <li><a class="dropdown-item" href="/COMMISSIONS">COMMISSIONS</a></li>
                <li><a class="dropdown-item" href="/DREAMLAND">DREAMLAND</a></li>
                <li><a class="dropdown-item" href="/FASHUN">FASHUN</a></li>
                <li><a class="dropdown-item" href="/FLORAL+">FLORAL+</a></li>
                <li><a class="dropdown-item" href="/INTERIORS">INTERIORS</a></li>
                <li><a class="dropdown-item" href="/JUSTJUMP">JUST JUMP</a></li>
                <li><a class="dropdown-item" href="/PEOPLE&PLACES:LONDON">PEOPLE&PLACES: LONDON</a></li>
                <li><a class="dropdown-item" href="/SOMEBODIES">SOMEBODIES</a></li>
                <li><a class="dropdown-item" href="/TATTOO">TATTOO</a></li>
                <li><a class="dropdown-item" href="/THREAD">THREAD</a></li>
                <li><a class="dropdown-item" href="/X(R)PLORATION">X(R)PLORATION</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/ABOUT_ME">ABOUT ME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/CONTACT">CONTACT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/SHOP">SHOP</a>
            </li>
          </ul>
          <ul class="navbar-nav flex-row flex-wrap ms-md-auto">
            {% if item != None %}
              <li class="nav-item mx-1">
                <a class="nav-link" href="/BASKET">
                  <i class="bi bi-basket2-fill"></i>
                  <span class='badge badge-warning' id='lblCartCount'>{{ item }}</span>
                </a>
              </li>
            {% endif %}
            <li class="nav-item dropdown ml-1 mr-5">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLinkLogIn" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-person-circle"></i>
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLinkLogIn">
                {% if item != None %}
                  <li><a class="dropdown-item" href="/BASKET">VIEW BASKET</a></li>
                  <div class="dropdown-divider"></div>
                {% endif %}
                {% if logged_in == "no" %}
                  <li><a class="dropdown-item" href="/LOGIN">LOG IN</a></li>
                  <li><a class="dropdown-item" href="/REGISTER">REGISTER</a></li>
                {% else %}
                  <li><a class="dropdown-item" href="/BUYER_HX">VIEW SHOPPING HISTORY</a></li>
                  <li><a class="dropdown-item" href="/LOGOUT">LOG OUT</a></li>
                  <li class="dropdown-header">Currently logged in as {{ name }}</li>
                {% endif %}
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Fixed footer link to instagram page -->
    <ul class="nav justify-content-end fixed-bottom">
      <li class="nav-item">
        <a class="nav-link" href="https://www.instagram.com/jess.ketches/">
          <i class="bi bi-instagram" role="img" aria-label="Instagram Link" style="font-size:1.5rem;"></i>
        </a>
      </li>
    </ul>

    <!-- Title of page -->
    <div class="container" style="width: 70%; margin: auto;">
      <div class="row progress-bar">
        <div class="col-9 progress"></div>
        <div class="col-3"></div>
      </div><br>
      <div class="row">
        <h1>CHECKOUT SUMMARY</h1>
      </div>
      <div class="row">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col" class="item_img"></th>
              <th scope="col" class="item_name">Item</th>
              <th scope="col" class="item_front_text">Optional Personalised Text</th>
              <th scope="col" class="cost">Price</th>
              <th scope="col" class="quantity">Quantity</th>
              <th scope="col" class="total">Total</th>
              <th scope="col" class="address_message">Delivery Address & Message</th>
            </tr>
          </thead>
          <tbody>
            <!-- Loop through the database entries to display them in this table -->
            {% for basket in basket %}
              <tr>
                <td class="item_img">
                  <img class="img-fluid rounded my-3" src= "{{ basket.img_src }}" style="max-width: 200px;">
                </td>
                <td class="item_name">
                  {{ basket.item_name }}:
                  {% if basket.item_option == print_plus %}
                    Print Plus Personalised Message
                  {% else %}
                    Print
                  {% endif %}
                </td>
                <td class="item_front_text">{{ basket.item_front_text }}</td>
                <td class="cost">£{{ basket.cost }}</td>
                <td class="quantity">{{ basket.quantity }}</td>
                <td class="total">£{{ basket.total_cost }}</td>
                <td class="address_message">
                  {% if basket.full_name != None %}
                    {{ basket.full_name }}<br>
                    {{ basket.street_number_name }}, {{ basket.street }}<br>
                    {{ basket.city }}<br>
                    {{ basket.postcode }}<br>
                    {{ basket.country }}<br><br>Message:<br>
                    {{ basket.item_internal_text }}<br><br>
                    <form action="/EditAddress" method="post">
                      <input name="reference" type="hidden" value="{{ basket.reference }}">
                      <input class="styled_button" type="submit" value="CHANGE ADDRESS OR MESSAGE">
                    </form>
                    <i>(will delete current address and message for this item)</i>
                  {% else %}
                    <form action="/CheckoutToOther" method="post">
                      <input name="reference" type="hidden" value="{{ basket.reference }}">
                      <input autocomplete="off" class="form-control" name="full_name" placeholder="full name" type="text">
                      <input autocomplete="off" class="form-control" name="street_number_name" placeholder="street number or name of property" type="text">
                      <input autocomplete="off" class="form-control" name="street" placeholder="street" type="text">
                      <input autocomplete="off" class="form-control" name="city" placeholder="city" type="text">
                      <input autocomplete="off" class="form-control" name="postcode" placeholder="postcode" type="text">
                      <input autocomplete="off" class="form-control" name="country" placeholder="country" type="text">
                      <input autocomplete="off" class="form-control" name="message" placeholder="message" type="text">
                      <input class="styled_button" type="submit" value="SUBMIT">
                    </form>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
          <tfoot>
            <tr class="basket_total">
              <td>BASKET TOTAL</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>£{{ basket_total }}</td>
            </tr>
            {% if discount != "none" %}
              <tr class="discount">
                <td>DISCOUNT</td>
                <td>{{ discount }}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>-£{{ reduced }}</td>
              </tr>
            {% endif %}
            <tr class="delivery">
              <td>DELIVERY <p style="font-size: 80%">£0.99 per postal address<br> Ready to dispatch in 1–2 business days from United Kingdom</td></p>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>£{{ delivery }}</td>
            </tr>
            <tr class="total">
              <td>TOTAL</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>£{{ total }}</td>
            </tr>
          </tfoot>
        </table>
        <p hidden id="total">{{ total }}</p>
      </div>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <div id="smart-button-container">
          <div style="text-align: center;">
            <div id="paypal-button-container"></div>
          </div>
        </div>
      </div>

      <!--- Including Paypal javascript, followed by JQuery for use of AJAX -->
      <script src="https://www.paypal.com/sdk/js?client-id=sb&currency=GBP" data-sdk-integration-source="button-factory"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script>
        function initPayPalButton() {
          paypal.Buttons({
            style: {
              shape: 'pill',
              color: 'black',
              layout: 'vertical',
              label: 'checkout',

            },

            createOrder: function(data, actions) {
              var total = parseFloat(document.getElementById("total").innerHTML);
              var item = parseFloat((total * 0.8).toFixed(2));
              var tax = parseFloat((total * 0.2).toFixed(2));
              return actions.order.create({
                purchase_units: [{"description":"JESSKETCHES, an independent artist based in North West London.","amount":{"currency_code":"GBP","value":total,"breakdown":{"item_total":{"currency_code":"GBP","value":item},"shipping":{"currency_code":"GBP","value":0},"tax_total":{"currency_code":"GBP","value":tax}}}}]
              });
            },

            onApprove: function(data, actions) {
              return actions.order.capture().then(function(details) {
                $.post("/CHECKOUT",
                function(data){
                  window.location.href = data;
                });
              });
            },

            onError: function(err) {
              console.log(err);
            }
          }).render('#paypal-button-container');
        }
        initPayPalButton();
      </script>

      <div>
        <img src="/static/jskname.png" alt="JESSKETCHES" class="img-fluid">
      </div>
    </div>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
  </body>
</html>