<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS & Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">

    <!-- Own Style Sheet using CSS -->
    <link href="static/styleswork.css" rel="stylesheet">
    <link href="static/stylessitewide.css" rel="stylesheet">

    <title>JESSKETCHES: COMMISSIONS</title>

    <!-- Linking JESSKETCHES logo for the favicon -->
    <link rel="shortcut icon" href="/static/favicon.ico">
  </head>
  <body>
    <!-- Top navigation bar -->
    <nav class="navbar navbar-expand-sm navbar-light bg-transparent">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img src="/static/jsklogo.png" width="40" height="40" class="d-inline-block align-top" alt="JESSKETCHES logo, homepage link" loading="lazy">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                WORK
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="/ACCEPTANCE">ACCEPTANCE</a></li>
                <li><a class="dropdown-item" href="/C19">C19</a></li>
                <li><a class="dropdown-item" aria-current="page" href="/COMMISSIONS">COMMISSIONS</a></li>
                <li><a class="dropdown-item" href="/DREAMLAND">DREAMLAND</a></li>
                <li><a class="dropdown-item" href="/FASHUN">FASHUN</a></li>
                <li><a class="dropdown-item" href="/FLORAL+">FLORAL+</a></li>
                <li><a class="dropdown-item" href="/INTERIORS">INTERIORS</a></li>
                <li><a class="dropdown-item" href="/JUSTJUMP">JUST JUMP</a></li>
                <li><a class="dropdown-item" href="/PEOPLE&PLACES:LONDON">PEOPLE&PLACES: LONDON</a></li>
                <li><a class="dropdown-item" href="/SOMEBODIES">SOMEBODIES</a></li>
                <li><a class="dropdown-item" href="/TATTOO">TATTOO</a></li>
                <li><a class="dropdown-item" href="/THREAD">THREAD</a></li>
                <li><a class="dropdown-item" href="/X(R)PLORATION">X(R)PLORATION</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="ABOUT_ME">ABOUT ME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="CONTACT">CONTACT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="SHOP">SHOP</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Fixed footer link to instagram page -->
    <ul class="nav justify-content-end fixed-bottom">
      <li class="nav-item">
        <a class="nav-link" href="https://www.instagram.com/jess.ketches/">
          <i class="bi bi-instagram" role="img" aria-label="Instagram Link" style="font-size:1.5rem;"></i>
        </a>
      </li>
    </ul>

    <!-- Title of page with responsive layout -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2 col-md-3 col-lg-4 col-1"></div>
        <div class="col-sm-8 col-md-6 col-lg-4 col-10">
          <h1>COMMISSIONS</h1>
          <h2>When someone asked for a thing</h2><br>
        </div>
        <div class="col-sm-2 col-md-3 col-lg-4 col-1"></div>
      </div>
    </div>

    <!-- Artwork -->
    <div class="container-fluid">
      <div class="row my-3 item_break"></div>
      <div class="row">
        <div class="col-8">
          <img class="img-fluid rounded my-3" src="/static/WORK/COMMISSIONS/tea_tray_final.png"
          alt="Photograph of a tea tray with a light brown wooden border and handles, and a white base. The base has black line drawings
          of tea related items such as tea cups, tea pots, cafetière, milk bottle, sugar pot, mint, lavender, camomile flowers, lemon slices
          and tea bags.">
          <h5><em>TEA TRAY</em>  2019</h5>
          <p>Final tea tray - well used at point of photographing (as it should be!) :)</p>
        </div>
        <div class="col-4">
          <img class="img-fluid rounded my-3" src="/static/WORK/COMMISSIONS/tea_tray_exploration.jpeg"
          alt="Draft drawing of ideas to place on the final tea tray using black pen on white paper - same items as in final tray.">
          <img class="img-fluid rounded my-3" src="/static/WORK/COMMISSIONS/tea_tray_final_draft.jpeg"
          alt="Draft drawing of ideas to place on the final tea tray using black pen on white paper - same items as in final tray.">
          <p>Exploration of ideas</p>
        </div>
      </div>
      <div class="row my-3 item_break"></div>
      <div class="row">
        <div class="col-4">
          <img class="img-fluid rounded my-3" src="/static/WORK/COMMISSIONS/chief_exploration.jpeg"
          alt="Pen drawing of a cat facing the viewer head on, one drawing of the cat is in black pen, with another drawing of the same
          cat half hidden behind using grey pen. The two drawings are surrounded on their top halves by a line drawing using black pen of
          a floral rug. This is an expressive piece.">
          <h5><em>CHIEF</em>  2020</h5>
          <p>Left: exploration of subject</p><p>Right: Pencil drawing of client's cat named Chief</p>
        </div>
        <div class="col-8">
          <img class="img-fluid rounded my-3" src="/static/WORK/COMMISSIONS/chief_final.jpeg"
          alt="Pencil drawing of the whole body of a cat, on white paper. The cat is facing the viewer head on, and was staring into the
          camera of the original photo. He looks quite serious and confident.">
        </div>
      </div>
      <div class="row my-3 item_break"></div>
      <div class="row" style="max-width: 800px; margin: auto;">
        <div class="col">
          <img class="img-fluid rounded my-3" src="/static/WORK/COMMISSIONS/canada_pen_drawing.jpeg"
          alt="Pen drawing using black ink of a mountain in the distance on the right, which has been shaded using multiple dots. The sky is
          swirling in and out of curves using short lines, which fade into white as they approach the sun on the left hand side. Trees
          surround the left and right borders, and decrease in size as they get closer to the centre, as the walkway opens up towards the
          mountain.">
          <h5><em>CANADIAN VIEWS</em>  2019</h5>
          <p>Line drawing using black pen based on the client's photograph</p>
        </div>
      </div>
      <div class="row my-3 item_break"></div>
    </div>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
  </body>
</html>