<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS & Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">

    <!-- Own Style Sheet using CSS -->
    <link href="static/styleswork.css" rel="stylesheet">
    <link href="static/stylessitewide.css" rel="stylesheet">

    <title>JESSKETCHES: FASHUN</title>

    <!-- Linking JESSKETCHES logo for the favicon -->
    <link rel="shortcut icon" href="/static/favicon.ico">
  </head>
  <body>
    <!-- Top navigation bar -->
    <nav class="navbar navbar-expand-sm navbar-light bg-transparent">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img src="/static/jsklogo.png" width="40" height="40" class="d-inline-block align-top" alt="JESSKETCHES logo, homepage link" loading="lazy">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                WORK
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="/ACCEPTANCE">ACCEPTANCE</a></li>
                <li><a class="dropdown-item" href="/C19">C19</a></li>
                <li><a class="dropdown-item" href="/COMMISSIONS">COMMISSIONS</a></li>
                <li><a class="dropdown-item" href="/DREAMLAND">DREAMLAND</a></li>
                <li><a class="dropdown-item" aria-current="page" href="/FASHUN">FASHUN</a></li>
                <li><a class="dropdown-item" href="/FLORAL+">FLORAL+</a></li>
                <li><a class="dropdown-item" href="/INTERIORS">INTERIORS</a></li>
                <li><a class="dropdown-item" href="/JUSTJUMP">JUST JUMP</a></li>
                <li><a class="dropdown-item" href="/PEOPLE&PLACES:LONDON">PEOPLE&PLACES: LONDON</a></li>
                <li><a class="dropdown-item" href="/SOMEBODIES">SOMEBODIES</a></li>
                <li><a class="dropdown-item" href="/TATTOO">TATTOO</a></li>
                <li><a class="dropdown-item" href="/THREAD">THREAD</a></li>
                <li><a class="dropdown-item" href="/X(R)PLORATION">X(R)PLORATION</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="ABOUT_ME">ABOUT ME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="CONTACT">CONTACT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="SHOP">SHOP</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Fixed footer link to instagram page -->
    <ul class="nav justify-content-end fixed-bottom">
      <li class="nav-item">
        <a class="nav-link" href="https://www.instagram.com/jess.ketches/">
          <i class="bi bi-instagram" role="img" aria-label="Instagram Link" style="font-size:1.5rem;"></i>
        </a>
      </li>
    </ul>

    <!-- Content of page with responsive layout -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2 col-md-3 col-lg-4 col-1"></div>
        <div class="col-sm-8 col-md-6 col-lg-4 col-10">
          <!-- Title of page -->
          <h1>FASHUN</h1>
          <h2>Fashion, hun.</h2><br>
          <!-- Artwork -->
          <img class="img-fluid rounded my-3" src="/static/WORK/FASHUN/all_seeing_fashion_god.jpeg"
          alt="Collage on white paper. Overall imagery of a woman; her head is made up of multiple models faces looking in different directions,
          eyes for a crown, and large white afro hair. The head is attached to a body made up of close-ups of a detailed earring with lots of red
          beads, yellow and orange tassels, golden coins and blue and red pom-poms.">
          <h5><em>THE ALL SEEING GODDESS OF FASHION</em>  2020</h5>
          <p>Collage using material from fashion and hairdressing magazines exploring the pressure one can feel when dressing - being aware of the
          watchful eyes that are awaiting our fashion choices. Awareness can bring freedom through setting intentional boundaries such as:
          'Screw your watchful eye, I'm gonna celebrate my taste and ooze me! You do you and I'll do me mate.'</p><br>
          <img class="img-fluid rounded my-3" src="/static/WORK/FASHUN/bold_print_tee.png"
          alt="Photograph of the artist wearing a large white vintage shirt with bright bold graphic prints on in orange, yellow, purple, red and
          green. The artist has continued these graphic patterns onto her body using make-up on her bare face, arms and legs. She is facing the
          camera, with her left arm reached up and behind her head. Further graphical imagery to mimic the shirt was drawn on digitally to the left
          and right sides of the photograph.">
          <h5><em>SPACE INVADER</em>  2020</h5>
          <p>Edited photograph of body-art inspired by the garment</p><br>
          <img class="img-fluid rounded my-3" src="/static/WORK/FASHUN/discotech.jpeg"
          alt="Black ink line drawing of three blind contours of the same image; a woman taking a full body selfie in the mirror whilst trying on
          flared jeans and a blue puffy shirt. Two of the figures are in the background to the left and right, with one figure in the centre at the
          front.">
          <h5><em>DISCOTECH</em>  2019</h5>
          <p>Blind contours of subject trying on an outfit for a disco themed 30th</p><br>
          <img class="img-fluid rounded my-3" src="/static/WORK/FASHUN/oh_selfie.jpeg"
          alt="Black ink line drawing of a woman looking rather down, taking a full body selfie in the mirror wearing a top that reads ‘Oh’, and a
          plain skirt, with bare feet.">
          <h5><em>OH</em>  2020</h5>
          <p>Line drawing of subject trying on a new shirt</p><br>
        </div>
        <div class="col-sm-2 col-md-3 col-lg-4 col-1"></div>
      </div>
    </div>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
  </body>
</html>

