<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS & Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">

    <!-- Own Style Sheet using CSS -->
    <link href="static/styleswork.css" rel="stylesheet">
    <link href="static/stylessitewide.css" rel="stylesheet">

    <title>JESSKETCHES: JUST JUMP</title>

    <!-- Linking JESSKETCHES logo for the favicon -->
    <link rel="shortcut icon" href="/static/favicon.ico">
  </head>
  <body>
    <!-- Top navigation bar -->
    <nav class="navbar navbar-expand-sm navbar-light bg-transparent">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img src="/static/jsklogo.png" width="40" height="40" class="d-inline-block align-top" alt="JESSKETCHES logo, homepage link" loading="lazy">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                WORK
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="/ACCEPTANCE">ACCEPTANCE</a></li>
                <li><a class="dropdown-item" href="/C19">C19</a></li>
                <li><a class="dropdown-item" href="/COMMISSIONS">COMMISSIONS</a></li>
                <li><a class="dropdown-item" href="/DREAMLAND">DREAMLAND</a></li>
                <li><a class="dropdown-item" href="/FASHUN">FASHUN</a></li>
                <li><a class="dropdown-item" href="/FLORAL+">FLORAL+</a></li>
                <li><a class="dropdown-item" href="/INTERIORS">INTERIORS</a></li>
                <li><a class="dropdown-item" aria-current="page" href="/JUSTJUMP">JUST JUMP</a></li>
                <li><a class="dropdown-item" href="/PEOPLE&PLACES:LONDON">PEOPLE&PLACES: LONDON</a></li>
                <li><a class="dropdown-item" href="/SOMEBODIES">SOMEBODIES</a></li>
                <li><a class="dropdown-item" href="/TATTOO">TATTOO</a></li>
                <li><a class="dropdown-item" href="/THREAD">THREAD</a></li>
                <li><a class="dropdown-item" href="/X(R)PLORATION">X(R)PLORATION</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="ABOUT_ME">ABOUT ME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="CONTACT">CONTACT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="SHOP">SHOP</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Fixed footer link to instagram page -->
    <ul class="nav justify-content-end fixed-bottom">
      <li class="nav-item">
        <a class="nav-link" href="https://www.instagram.com/jess.ketches/">
          <i class="bi bi-instagram" role="img" aria-label="Instagram Link" style="font-size:1.5rem;"></i>
        </a>
      </li>
    </ul>

    <!-- Title of page with responsive layout -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2 col-md-3 col-lg-4 col-1"></div>
        <div class="col-sm-8 col-md-6 col-lg-4 col-10">
          <h1>JUST JUMP</h1>
          <h2>An exploration of courage</h2><br>
          <p>We all live within our own set of paradigms, and have points of reassessment and change.</p>
          <p>Stepping into the unknown can be unsettling.
          We often need to practice faith in our instincts when choosing a new direction in our lives.</p>
          <p>The final piece took inspiration from the thought of explorers who wanted to discover if the world was indeed flat -
          specifically when they courageously reached the end of their knowledge of the earth, and found that their
          world did not end but expanded. The same may be true on a more personal level - we search for answers to questions,
          we fear, take courage, and go seek knowledge or life experience, and although it can be challenging we find our world doesn't
          end where it used to, it expands.</p>
          <p>I kept the imagery very simple, taking inspiration from creating work in as few lines as
          possible whilst still conveying the message.</p>
        </div>
        <div class="col-sm-2 col-md-3 col-lg-4 col-1"></div>
      </div>

      <!-- Artwork -->
      <div class="row">
        <div class="col-md-3 col-sm-2 col-1"></div>
        <div class="col-md-6 col-sm-8 col-10">
          <img class="img-fluid rounded my-3" src="/static/WORK/JUSTJUMP/edge_of_the_earth.jpeg"
          alt="A painting of a naked woman jumping off of a blue object whose corner spans the bottom of the paper. The woman is facing away
          from the viewer, with her arms stretched out as she leaps. She is painted in gold, with black hair, and a black outline to shape her
          body. All colour is in block, there is no shading.">
          <h5><em>FINAL PIECE: EDGE OF YOUR EARTH</em>  2019</h5>
          <p>Acrylic painting of a figure courageously taking a leap of faith into the unknown.</p><br>
        </div>
        <div class="col-md-3 col-sm-2 col-1"></div>
      </div>

      <div class="row">
        <div class="col-sm-3 col-6">
          <img class="img-fluid rounded my-3" src="/static/WORK/JUSTJUMP/exploration_gold.jpeg"
          alt="A pencil drawing of a naked woman facing away from the viewer with her left foot on it’s tip-toes, she has both hands in her
          hair holding onto the back of her head. The pencil drawing is surrounded by a background of gold paint.">
          <h5><em>EXPLORATION OF FIGURE & COLOUR</em>  2019</h5>
          <img class="img-fluid rounded my-3" src="/static/WORK/JUSTJUMP/exploration_jump.jpeg"
          alt="A pen drawing of a wooden figure leaping from one area to another. The areas are clear by different styles of dots and dashes
          across the page. The figure’s head is made up of five words; EXPLORE, CONSIDER, CHOOSE, AIM, JUMP. Pens used were black and grey.">
          <h5><em>EXPLORATION OF CONCEPTS</em>  2019</h5>
        </div>
        <div class="col-sm-3 col-6">
          <img class="img-fluid rounded my-3" src="/static/WORK/JUSTJUMP/just_jump_figures.jpeg"
          alt="A pen drawing using black pen on a white background which repeats the same imagery across the entire page - the outline of a
          woman leaping, as to leave no blank space.">
          <h5><em>JUST JUMP FIGURES</em>  2019</h5>
          <img class="img-fluid rounded my-3" src="/static/WORK/JUSTJUMP/exploration_thoughts.jpeg"
          alt="A pen drawing using a black biro of a naked woman covered by a blanket, who is sat up in bed with her arms hugging her stomach
          whilst holding the blanket over her chest, and one bent knee visible from underneath the blanket. Her hair is messy, and face appears
          pensive. She is surrounded by a golden background coloured in using pencil, along with some gold patches on her blanket which appear
          to be made up of lots of small patches of cloth.">
          <h5><em>EXPLORATION OF THOUGHTS/ FEARS</em>  2019</h5>
        </div>
        <div class="col-sm-6 col">
          <img class="img-fluid rounded my-3" src="/static/WORK/JUSTJUMP/just_jump.jpeg"
          alt="A painting of bold black lettering in capitals that are centrally placed and cover almost the entire page, which read ‘JUST JUMP’
          in sans-serif style. The white background has splashes and blobs of light and deeper gold, deep blue and black - all matching the
          colours used in the final piece ‘EDGE OF YOUR EARTH 2019’.">
          <h5><em>JUST JUMP</em>  2019</h5>
          <p>Encouragement to take that leap of faith when the desire to expand your life comes.</p><br>
        </div>
      </div>
    </div>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
  </body>
</html>