<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS & Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">

    <!-- Own Style Sheet using CSS -->
    <link href="static/styleswork.css" rel="stylesheet">
    <link href="static/stylessitewide.css" rel="stylesheet">

    <title>JESSKETCHES: PEOPLE&PLACES: LONDON</title>

    <!-- Linking JESSKETCHES logo for the favicon -->
    <link rel="shortcut icon" href="/static/favicon.ico">
  </head>
  <body>
    <!-- Top navigation bar -->
    <nav class="navbar navbar-expand-sm navbar-light bg-transparent">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img src="/static/jsklogo.png" width="40" height="40" class="d-inline-block align-top" alt="JESSKETCHES logo, homepage link" loading="lazy">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                WORK
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="/ACCEPTANCE">ACCEPTANCE</a></li>
                <li><a class="dropdown-item" href="/C19">C19</a></li>
                <li><a class="dropdown-item" href="/COMMISSIONS">COMMISSIONS</a></li>
                <li><a class="dropdown-item" href="/DREAMLAND">DREAMLAND</a></li>
                <li><a class="dropdown-item" href="/FASHUN">FASHUN</a></li>
                <li><a class="dropdown-item" href="/FLORAL+">FLORAL+</a></li>
                <li><a class="dropdown-item" href="/INTERIORS">INTERIORS</a></li>
                <li><a class="dropdown-item" href="/JUSTJUMP">JUST JUMP</a></li>
                <li><a class="dropdown-item" aria-current="page" href="/PEOPLE&PLACES:LONDON">PEOPLE&PLACES: LONDON</a></li>
                <li><a class="dropdown-item" href="/SOMEBODIES">SOMEBODIES</a></li>
                <li><a class="dropdown-item" href="/TATTOO">TATTOO</a></li>
                <li><a class="dropdown-item" href="/THREAD">THREAD</a></li>
                <li><a class="dropdown-item" href="/X(R)PLORATION">X(R)PLORATION</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="ABOUT_ME">ABOUT ME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="CONTACT">CONTACT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="SHOP">SHOP</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Fixed footer link to instagram page -->
    <ul class="nav justify-content-end fixed-bottom">
      <li class="nav-item">
        <a class="nav-link" href="https://www.instagram.com/jess.ketches/">
          <i class="bi bi-instagram" role="img" aria-label="Instagram Link" style="font-size:1.5rem;"></i>
        </a>
      </li>
    </ul>

    <!-- Title of page with responsive layout -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2 col-md-3 col-lg-4 col-1"></div>
        <div class="col-sm-8 col-md-6 col-lg-4 col-10">
          <h1>PEOPLE&PLACES: LONDON</h1>
          <h2>An assortment of line drawings on paper from around my hometown, London</h2><br>
          <p>A few edited versions will be placed at the end of this page.</p>
          <p>Before you start the scroll, here's my favourite photo I've taken in London... I tend to prefer the mundane quietly brought to
          life (e.g. by sunlight here) over the grand buildings and famous skylines.</p>
          <img class="img-fluid rounded mb-5" src="/static/WORK/PEOPLE&PLACES-LONDON/london_bicycle_rack.jpeg"
          alt="Greyscale photograph of a line of singular bicycle rails on the side of a pavement, with their shadows reaching across towards
          the left of the image."><br>
        </div>
        <div class="col-sm-2 col-md-3 col-lg-4 col-1"></div>
      </div>

      <!-- Artwork -->
      <div class="row">
        <div class="col-sm-3 col-2"></div>
        <div class="col-sm-6 col-8">
          <h5><em>PEOPLE&PLACES: LONDON</em>  2019</h5>
          <img class="img-fluid rounded my-3" src="/static/WORK/PEOPLE&PLACES-LONDON/PPL_paper.jpeg"
          alt="Black ink line drawing on white paper of a person in a reflective jacket placing newspapers from his trolley onto a transportable
          rack which reads ‘FREE PLEASE TAKE ONE’.">
          <img class="img-fluid rounded my-3" src="/static/WORK/PEOPLE&PLACES-LONDON/PPL_neals_yard.jpeg"
          alt="Black ink line drawing on white paper of three figures near a Neals Yard shop. The closest is walking away from the viewer on the
          left hand side, and on the right one person is perched on a bicycle outside the shop, near someone taking a photo on her phone by the
          ‘£10 OFF’ sign.">
          <img class="img-fluid rounded my-3" src="/static/WORK/PEOPLE&PLACES-LONDON/PPL_phonebox.jpeg"
          alt="Black ink line drawing with added grey pen on white paper of a London telephone box.">
          <img class="img-fluid rounded my-3" src="/static/WORK/PEOPLE&PLACES-LONDON/PPL_P1.jpeg"
          alt="Black ink line drawing on white paper of a person walking towards the right side of the paper, in a blazer and trousers with long
          wavy hair. A large plant pot with a tree and long grass-like greenery inside is behind the person in the right hand-side of the drawing.">
          <img class="img-fluid rounded my-3" src="/static/WORK/PEOPLE&PLACES-LONDON/PPL_P13.jpeg"
          alt="Black ink line drawing with added grey pen on white paper of a someone walking away from the viewer down a street, with papers in
          their hand. They are wearing jeans, trainers and a jacket with the words ‘BUT LEARN TO TRUST YOUR HEART’ written on a sewn on fabric on the
          back of the jacket.">
          <img class="img-fluid rounded my-3" src="/static/WORK/PEOPLE&PLACES-LONDON/PPL_P2.jpeg"
          alt="Black ink line drawing on white paper of a someone walking towards the right side of the paper, with short curly hair, a beard and
          glasses. They are wearing a jacket, jeans and laced up boots, and carrying a shopping bag.">
          <img class="img-fluid rounded my-3" src="/static/WORK/PEOPLE&PLACES-LONDON/PPL_P3.jpeg"
          alt="Black ink line drawing with added grey pen on white paper of a person looking towards the left hand side wearing a puffer jacket and
          cap, with Piccadilly Circus in the background.">
          <img class="img-fluid rounded my-3" src="/static/WORK/PEOPLE&PLACES-LONDON/PPL_P4.jpeg"
          alt="Black ink line drawing on white paper of a person walking on a zebra crossing towards the left hand side of the page. They are
          wearing a black jumper, jeans, smart shoes, a satchel and large headphones. They have a gentle smile, with glasses and curly hair.">
          <img class="img-fluid rounded my-3" src="/static/WORK/PEOPLE&PLACES-LONDON/PPL_P5.jpeg"
          alt="Black ink line drawing with added grey pen on white paper of a person on the right hand side of the page facing the left, smoking
          a cigarette with their right hand and looking at their phone with their left hand. They look tired, have a wrinkled forehead, short
          straight hair, and are wearing a rucksack over a work shirt and trousers.">
          <img class="img-fluid rounded my-3" src="/static/WORK/PEOPLE&PLACES-LONDON/PPL_euston_escalator.jpeg"
          alt="Black ink line drawing on white paper of the view whilst looking down on an escalator, three figures are visible stood on steps
          on the escalator; one with headphones, casual wear and a rucksack, the next with a suitcase and the third a shopping bag.">
          <img class="img-fluid rounded my-3" src="/static/WORK/PEOPLE&PLACES-LONDON/PPL_P7.jpeg"
          alt="Black ink line drawing on white paper of a person in the centre of the page, looking towards the right, with their body facing
          the viewer. They have short messy hair, and are wearing earrings, dark sunglasses, have their hands in the pockets of their black
          jumpsuit with a cardigan over the top, and trainers.">
          <img class="img-fluid rounded my-3" src="/static/WORK/PEOPLE&PLACES-LONDON/PPL_google_construction.jpeg"
          alt="Black ink line drawing with added grey pens on white paper of the new google offices being built in Kings Cross. The three
          towers are unfinished, with the closest one having a crane on top pulling up building material. Android figures can be seen on
          the closest tower with numbers on their tummies counting upwards from one to 9 as they get higher.">
          <img class="img-fluid rounded my-3" src="/static/WORK/PEOPLE&PLACES-LONDON/PPL_southbank4.jpeg"
          alt="Black ink line drawing on white paper of the new from some of the stairs at Southbank, Waterloo. Lights are strung from a pole
          to a tree, where in between there is an ice cream van serving passers by. Behind the ice cream van are some railings which border
          the Thames.">
          <img class="img-fluid rounded my-3" src="/static/WORK/PEOPLE&PLACES-LONDON/PPL_P10.jpeg"
          alt="Black ink line drawing on white paper of someone sat on the steps near the canal, writing in a book. They have short straight hair,
          a striped jumper and trainers.">
          <img class="img-fluid rounded my-3" src="/static/WORK/PEOPLE&PLACES-LONDON/PPL_P11.jpeg"
          alt="Black ink line drawing on white paper of a person sat cross legged facing away from the viewer, with their arms on their knees. They
          have dark curly hair, and are wearing a leather jacket, a top tucked into their jeans and the sole of their shoes are criss cross
          patterned.">
          <img class="img-fluid rounded my-3" src="/static/WORK/PEOPLE&PLACES-LONDON/PPL_southbank2.jpeg"
          alt="Black ink line drawing on white paper of some concrete stairs in Southbank that have a stripped appearance to them, with a metal
          gate on the first level preventing people from getting up to the second level.">
          <img class="img-fluid rounded my-3" src="/static/WORK/PEOPLE&PLACES-LONDON/PPL_P14.jpeg"
          alt="Black ink line drawing with added grey pen on white paper of a child being pushed in a pushchair. Child is slumped over the front
          bar with their hands dangling down towards the floor, and their face also facing the floor. A children’s toy shop bag can be seen hanging
          from the back of the pushchair.">
          <img class="img-fluid rounded my-3" src="/static/WORK/PEOPLE&PLACES-LONDON/PPL_P15.jpeg"
          alt="Black ink line drawing with added grey pen on white paper of a person walking towards the right with a coffee cup in their right
          hand and a bag swinging in their left. Their hair is styled in a bun, and they are wearing light round sunglasses and lipstick, with a
          jumper and strap for a bag wrapped around their right shoulder to left torso, and trousers.">
          <img class="img-fluid rounded my-3" src="/static/WORK/PEOPLE&PLACES-LONDON/PPL_P16.jpeg"
          alt="Black ink line drawing with added grey pen on white paper of a person sat on a statue of two horses jumping with their front hooves
          in the air. The person is sat on on of the horses front two legs, and is facing the horse. They have a headset on, a hi vis jacket,
          trousers and boots on. Their hairy is roughly tied back and they are holding a paint brush in their left hand. A black square borders
          this drawing.">
          <img class="img-fluid rounded my-3" src="/static/WORK/PEOPLE&PLACES-LONDON/PPL_kings_cross_canal_side.jpeg"
          alt="Black ink line drawing with added grey pen on white paper of a brick tunnel with an archway leading to another tunnel which has
          another archway which leads into darkness. There are circular lights by each archway.">
          <img class="img-fluid rounded my-3" src="/static/WORK/PEOPLE&PLACES-LONDON/PPL_P18.jpeg"
          alt="Black ink line drawing with added black pen on white paper of a person collecting macaroons to place in a bag in a macaroon shop.
          They are dressed in a black dress, tights and shoes, and are wearing white gloves.">
          <img class="img-fluid rounded my-3" src="/static/WORK/PEOPLE&PLACES-LONDON/PPL_P19.jpeg"
          alt="Black ink line drawing with added grey pen on white paper of a person sat on concrete stairs with their arms reaching back and
          resting on the step above, and their legs bent but stretching outwards. They have long curly hair, closed eyes and a relaxed manner.
          They are wearing a dark top, light trousers, dark boots, and holding a small handbag in their left hand which sports a watch.">
          <img class="img-fluid rounded my-3" src="/static/WORK/PEOPLE&PLACES-LONDON/PPL_happy_place.jpeg"
          alt="Black ink line drawing with added grey pen on white paper of the view when looking down on the tube. In the bottom left is the
          artists hand holding a coffee, followed by their legs holding a large bag in-between them, as they stand by the door of the train.">
          <img class="img-fluid rounded my-3" src="/static/WORK/PEOPLE&PLACES-LONDON/PPL_southbank1.jpeg"
          alt="Black ink line drawing with added grey pen on white paper of the outside area of the Hayward Gallery. The concrete building has
          multiple levels with some outdoor walkways and stairs. Below is a wall where the same poster advertisement has been stuck to the wall
          tens of times in three rows.">
          <img class="img-fluid rounded my-3" src="/static/WORK/PEOPLE&PLACES-LONDON/PPL_southbank3.jpeg"
          alt="Black ink line drawing with added grey pen on white paper of a small ice cream truck on a three wheeled scooter in a food market.">
          <img class="img-fluid rounded my-3" src="/static/WORK/PEOPLE&PLACES-LONDON/PPL_st_pancreas.jpeg"
          alt="Black ink line drawing with added grey pen on white paper of a family of four walking towards the viewer in St Pancreas station.
          Their shadows are long and drawn towards the bottom of the page. The mother is talking to the father who is holding a small baby, next
          to the father is a child resting their head on a large suitcase at the same time as pushing it.">
          <img class="img-fluid rounded my-3" src="/static/WORK/PEOPLE&PLACES-LONDON/PPL_table.jpeg"
          alt="Black ink line drawing on white paper of six long tables and benches. One table has a person sat drinking a coffee on it, with
          another person sat on another bench and resting their feet on the next bench whilst they look at their phone.">
          <img class="img-fluid rounded my-3" src="/static/WORK/PEOPLE&PLACES-LONDON/PPL_trainer.jpeg"
          alt="Black ink line drawing with added grey pen on white paper of a persons leg just walking into sight on the right hand side of
          the paper. They take up 90% of the height of the paper. They are wearing rolled up jeans, socks and dark trainers.">
          <img class="img-fluid rounded my-3" src="/static/WORK/PEOPLE&PLACES-LONDON/PPL_virtual_life_picadilly.jpeg"
          alt="Black ink line drawing on white paper of multiple figures using their phones; one couple were looking at one phone sat down,
          another person was taking a selfie, another walking and texting, another taking a photo of the view. One person in the top right is
          sat down not using a phone, with their head resting on their hand, face down, looking bored.">
          <img class="img-fluid rounded my-3" src="/static/WORK/PEOPLE&PLACES-LONDON/soph_laugh.jpeg"
          alt="Black ink line drawing on white paper of a person laughing with their eyes closed and mouth wide open.">
          <img class="img-fluid rounded mt-3 mb-5" src="/static/WORK/PEOPLE&PLACES-LONDON/PPL_yawn.jpeg"
          alt="Black ink line drawing on white paper of a person yawning with their mouth wide open. They have curly hair, eyes tightly shut
          and scrunched together, and are wearing a hoody.">

          <br><h5><em>PEOPLE&PLACES: LONDON, GRAPHIC EDITS</em>  2020</h5>
          <img class="img-fluid rounded my-3" src="/static/WORK/PEOPLE&PLACES-LONDON/PEOPLE&PLACES-LONDON-GRAPHIC_EDITS/the_sun_will_rise.jpeg"
          alt="Black ink line drawing on white paper of a person sat cross legged facing away from the viewer, with their arms on their knees. They have dark
          curly hair, and are wearing a leather jacket, a top tucked into their jeans and the sole of their shoes are criss cross patterned. The top half of
          the image is yellow, with white text, and the bottom half is white with yellow text. The text reads ‘THE SUN WILL RISE’.">
          <img class="img-fluid rounded my-3" src="/static/WORK/PEOPLE&PLACES-LONDON/PEOPLE&PLACES-LONDON-GRAPHIC_EDITS/virtual_livin.jpeg"
          alt="Black ink line drawing on white paper of multiple figures using their phones; one couple were looking at one phone sat down, another
          person was taking a selfie, another walking and texting, another taking a photo of the view. One person in the top right is sat down not
          using a phone, with their head resting on their hand, face down, looking bored. The top right hand side where this person is sitting has
          a pale green background, with grey text which reads ‘cravin dat humaness we loosin’.">
          <img class="img-fluid rounded my-3" src="/static/WORK/PEOPLE&PLACES-LONDON/PEOPLE&PLACES-LONDON-GRAPHIC_EDITS/down_to_earth.jpeg"
          alt="Black ink line drawing with added grey pen on white paper of a persons leg just walking into sight on the right hand side of the
          paper. They take up 90% of the height of the paper. They are wearing rolled up jeans, socks and dark trainers. The top half of this
          image where the jeans start has a greyish blue background cut diagonally towards the top of the image, the bottom half is grey. Dots
          are lined up parallel to the persons leg, and also parallel to the bottom of the page - above which there is text that reads ‘DOWN TO
          EARTH’.">
          <img class="img-fluid rounded my-3" src="/static/WORK/PEOPLE&PLACES-LONDON/PEOPLE&PLACES-LONDON-GRAPHIC_EDITS/canal_journaling.jpeg"
          alt="Black ink line drawing on white paper of someone sat on the steps near the canal, writing in a book. They have short straight hair,
          a striped jumper and trainers. The canal boat on the river has a deep purple background, followed by a teal blue for the water, followed
          by a pale green for the first step towards where the person is sat. The rest of the image remains the original white.">
        </div>
        <div class="col-sm-3 col-2"></div>
      </div>
    </div>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
  </body>
</html>

