<div class="container" style="width: 90%">
  <div class="row">
    <p style="text-align: right;">
      <b>ORDER REFERENCE: {{ checkout_reference }}</b><br>
    </p>
    <p>
      Hi there!<br><br>
      Just a quick email to let you know your order is on its way!<br>
      Thank you again for your purchase from JESSKETCHES, an independent artist based in North West London.<br>
      If you have questions about your order, please email ketchesj@gmail.com.<br><br>
    </p>
    <p style="text-align: right;">&#128666;</p>
    <hr class="dashed" style="border-top: 3px dashed grey;">
  </div>
  <div class="row">
    <h3 style="background-color: yellow; font-weight: bold; border-radius: 3px"> POSTED TODAY FROM JESSKETCHES' STUDIO:</h3>
  </div>
  <div class="row">
    <p>
      <b>POSTAL ADDRESS:</b>
      {{ addresse.full_name }}, {{ addresse.street_number_name }} {{ addresse.street }}, {{ addresse.city }}, {{ addresse.postcode }}, {{ addresse.country }}
    </p>
    <table class="content-table" style="border-collapse: collapse; margin: 25px 0; font-size: 0.9em; max-width: 100%; border-radius: 5px 5px 0 0; overflow: hidden; box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);">
      <thead>
        <tr style="background-color: black; color: white; font-weight: bold;" bgcolor="black">
          <th scope="col" class="item_img" style="padding: 12px 15px; text-align: left;" align="left"></th>
          <th scope="col" class="item_name" style="padding: 12px 15px; text-align: left;" align="left">Item</th>
          <th scope="col" class="item_front_text" style="padding: 12px 15px; text-align: left;" align="left">Optional Personalised Text</th>
          <th scope="col" class="item_message" style="padding: 12px 15px; text-align: left;" align="left">Optional Message</th>
          <th scope="col" class="cost" style="padding: 12px 15px; text-align: left;" align="left">Price</th>
          <th scope="col" class="quantity" style="padding: 12px 15px; text-align: left;" align="left">Quantity</th>
          <th scope="col" class="total" style="padding: 12px 15px; text-align: left;" align="left">Total</th>
        </tr>
      </thead>
      <tbody>
        <!-- Loop through the database entries to display them in this table -->
        {% for items in items %}
          <tr style="border-bottom: 2px solid black;">
            <td class="item_img" style="padding: 12px 15px; text-align: left;" align="left">
              <a href="#">
                <img src="cid:{{ items.item_name }}" style="max-width: 200px; height: auto;">
              </a>
            </td>
            <td class="item_name" style="padding: 12px 15px; text-align: left;" align="left">
              {{ items.item_name }}:
              {% if items.item_option == print_plus %}
                Print Plus Personalised Message
              {% else %}
                Print
              {% endif %}
            </td>
            <td class="item_front_text" style="padding: 12px 15px; text-align: left;" align="left">{{ items.item_front_text }}</td>
            <td class="message" style="padding: 12px 15px; text-align: left;" align="left">{{ items.item_internal_text }}</td>
            <td class="cost" style="padding: 12px 15px; text-align: left;" align="left">£{{ items.cost }}</td>
            <td class="quantity" style="padding: 12px 15px; text-align: left;" align="left">{{ items.quantity }}</td>
            <td class="total" style="padding: 12px 15px; text-align: left;" align="left">£{{ items.total_cost }}</td>
          </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr style="border-bottom: 1px solid white;">
          <td style="padding: 12px 15px; text-align: left;" align="left"></td>
          <td style="padding: 12px 15px; text-align: left;" align="left"></td>
          <td style="padding: 12px 15px; text-align: left;" align="left"></td>
          <td style="padding: 12px 15px; text-align: left;" align="left"></td>
          <td style="padding: 12px 15px; text-align: left;" align="left"></td>
          <td class="summary" style="background-color: grey; color: white; padding: 12px 15px; text-align: left;" align="left" bgcolor="grey">TOTAL</td>
          <td class="summary" style="background-color: grey; color: white; padding: 12px 15px; text-align: left;" align="left" bgcolor="grey">£{{  addresse.total_paid  }}</td>
        </tr>
      </tfoot>
    </table>
  </div><br>
  <div class="row" style="text-align: center;">
    <a href="#">
      <img src="cid:jskname" alt="link to JESSKETCHES website" id="jskname" style="max-width: 100%; height: auto;">
    </a>
  </div>
  <div class="row center-text" style="text-align: center;">
    <a href="https://www.instagram.com/jess.ketches/">
      <img src="cid:instaicon" alt="link to jessketches instagram profile" style="max-width: 24px; height: auto;">
    </a>
  </div>
</div>