<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS & Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">

    <!-- Own Style Sheet using CSS -->
    <link href="static/styleswork.css" rel="stylesheet">
    <link href="static/stylessitewide.css" rel="stylesheet">

    <title>JESSKETCHES: X(R)PLORATION</title>

    <!-- Linking JESSKETCHES logo for the favicon -->
    <link rel="shortcut icon" href="/static/favicon.ico">
  </head>
  <body>
    <!-- Top navigation bar -->
    <nav class="navbar navbar-expand-sm navbar-light bg-transparent">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img src="/static/jsklogo.png" width="40" height="40" class="d-inline-block align-top" alt="JESSKETCHES logo, homepage link" loading="lazy">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                WORK
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="/ACCEPTANCE">ACCEPTANCE</a></li>
                <li><a class="dropdown-item" href="/C19">C19</a></li>
                <li><a class="dropdown-item" href="/COMMISSIONS">COMMISSIONS</a></li>
                <li><a class="dropdown-item" href="/DREAMLAND">DREAMLAND</a></li>
                <li><a class="dropdown-item" href="/FASHUN">FASHUN</a></li>
                <li><a class="dropdown-item" href="/FLORAL+">FLORAL+</a></li>
                <li><a class="dropdown-item" href="/INTERIORS">INTERIORS</a></li>
                <li><a class="dropdown-item" href="/JUSTJUMP">JUST JUMP</a></li>
                <li><a class="dropdown-item" href="/PEOPLE&PLACES:LONDON">PEOPLE&PLACES: LONDON</a></li>
                <li><a class="dropdown-item" href="/SOMEBODIES">SOMEBODIES</a></li>
                <li><a class="dropdown-item" href="/TATTOO">TATTOO</a></li>
                <li><a class="dropdown-item" href="/THREAD">THREAD</a></li>
                <li><a class="dropdown-item" aria-current="page" href="/X(R)PLORATION">X(R)PLORATION</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="ABOUT_ME">ABOUT ME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="CONTACT">CONTACT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/SHOP">SHOP</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Fixed footer link to instagram page -->
    <ul class="nav justify-content-end fixed-bottom">
      <li class="nav-item">
        <a class="nav-link" href="https://www.instagram.com/jess.ketches/">
          <i class="bi bi-instagram" role="img" aria-label="Instagram Link" style="font-size:1.5rem;"></i>
        </a>
      </li>
    </ul>

    <!-- Page content with responsive layout -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2 col-md-3 col-lg-4 col-1"></div>
        <div class="col-sm-8 col-md-6 col-lg-4 col-10">
          <!-- Title of page -->
          <h1>X(R)PLORATION</h1>
          <h2>Collages, graphics and drawings created in response to the Extinction Rebellion movement</h2><br>
          <p><b>Please note:</b> the items that feature Boris Johnson are not a criticism directed towards him personally, or any political party.
          Boris' face was used to symbolise leadership of a collective of people, such as a country or company, and to explore feelings
          towards leaders who may not be making decisions that protect our future.</p>
          <!-- Artwork -->
          <img class="img-fluid rounded mt-5 mb-3" src="/static/WORK/X(R)PLORATION/XR_protest_truth_laid_bare.jpeg"
          alt="A pencil drawing on white paper of a woman with a bare chest being carried away by three police officers, two holding each arm and one
          holding her legs. She lays limp letting the police officers carry her full weight as she looks at the one holding her left arm. Her chest
          has the world ‘violence’ writing across it.">
          <h5><em>TRUTH LAID BARE</em>  2020</h5>
          <p><em>"At 9:30am on 10 September a group of 24 women from Extinction Rebellion have locked-on to Parliament railings using D-locks around
          their necks, with a banner reading ‘Can’t Bare the Truth?’ and wearing face masks branded with ‘4°C’. Across their bare chests they have
          exposed the near-term consequences of a 4°C hotter world, including ‘war’, ‘drought’, ‘starvation’, ‘wild-fires’, ‘violence’ and ‘famine’."</em></p>
          <a href="https://extinctionrebellion.uk/2020/09/10/cant-bare-the-truth-extinction-rebellion-call-on-government-to-communicate-the-risks-of-a-4c-world/">
            <p class="text-end">- Extinction Rebellion News</p>
          </a>
          <img class="img-fluid rounded mt-5 mb-3" src="/static/WORK/X(R)PLORATION/destination_unknown.jpeg"
          alt="A collage on white paper of a train which is half on the tracks and half already riding in the white blank space towards the right.
          The train is carrying lots of people, a dog, a giraffe and a car, with a boy stood at the very front looking very calm. A plane in the top
          right corner is flying off the scene.">
          <h5><em>DESTINATION UNKNOWN</em>  2020</h5>
          <p>What choices will we end up making as a whole world? What will the consequences of these be in 10, 20, 50 years time? Will those in developing
          countries take the hardest hit?</p>
          <img class="img-fluid rounded mt-5 mb-3" src="/static/WORK/X(R)PLORATION/we're_toast.jpeg"
          alt="A collage on white paper of Boris Johnson popping out of a toaster with both thumbs up in the air. Boris is surrounded by strips of
          water, land and sky coming out from behind him towards the outer perimeter of the paper.">
          <h5><em>ARE WE ALL TOAST?</em>  2020</h5>
          <img class="img-fluid rounded mt-5 mb-3" src="/static/WORK/X(R)PLORATION/better_luck_next_time.jpeg"
          alt="A collage on white paper with two images. The top half presents Boris Johnson’s face cut in half at the mouth as to look like he is
          talking, with the words ‘Ah well, better luck next time eh’. The bottom half presents a hand holding a piece of paper with a cut-out of a
          person holding both thumbs up in the air, the top two thirds of the cut-out are made out of flames.">
          <h5><em>BETTER LUCK NEXT TIME EH?</em>  2020</h5>
          <p>Do we get another chance with our current climate? Do we have the luxury of time for another vote, another policy change, another
          shift towards a greener future? Or are we looking at our 'last chance'?</p>
          <img class="img-fluid rounded mt-5 mb-3" src="/static/WORK/X(R)PLORATION/consumption-what_a_waste.png"
          alt="A collage on white paper of the earth being picked up using a cutlery fork. The text ‘what a waste’ is written partially over the
          earth using stamps.">
          <h5><em>CONSUMPTION: WHAT A WASTE</em>  2020</h5>
          <p>Why do we always want <b>so</b> much stuff? Does it make us happier? What price is our world paying for it? What price are those who work in
          producion paying for it?*</p>
          <a href="https://www.youtube.com/watch?v=5r8V4QWwxf0">
            <p>*Worth a watch if you ask similar questions regarding the fashion industry - The High Cost of Our Cheap Fashion | Maxine Bédat | TEDxPiscataquaRiver</p>
          </a>
          <img class="img-fluid rounded mt-5 mb-3" src="/static/WORK/X(R)PLORATION/driving_the_earth_to_flames.png"
          alt="A collage on white paper of a fisherman standing on top of the earth whilst turning his helm. The earth is surrounded by a ball of
          flame coming out of every side. This imagery has been cut up and sliced around the page to distort the picture. In the top left an alien
          is looking down on the fisherman saying ‘what a waste’.">
          <h5><em>ARE WE DRIVING THE EARTH TO FLAMES?</em>  2020</h5>
        </div>
        <div class="col-sm-2 col-md-3 col-lg-4 col-1"></div>
      </div>
      <div class="row">
        <div class="col-md-4 col-12 px-5">
          <img class="img-fluid rounded mt-5 mb-3" src="/static/WORK/X(R)PLORATION/what_a_waste_background1.png"
          alt="Stamps using black ink on white paper - a repeating patten of the ‘W’ letter has been stamped across the entire page.
          In the centre the text reads ‘what a waste’.">
          <h5><em>WHAT A WASTE [1]</em>  2020</h5>
          <p>Material for posters and flyers</p>
        </div>
        <div class="col-md-4 col-12 px-5">
          <img class="img-fluid rounded mt-5 mb-3" src="/static/WORK/X(R)PLORATION/mourning_background.png"
          alt="A collage on white paper of a girl from a comic book knelt down and crying as she holds the earth in her hands. This
          image has been copied and repeated in rows across the entire page approximately 20 times.">
          <h5><em>THE NEW GENERATION: MOURNING</em>  2020</h5>
          <p>Material for posters and flyers</p>
        </div>
        <div class="col-md-4 col-12 px-5">
          <img class="img-fluid rounded mt-5 mb-3" src="/static/WORK/X(R)PLORATION/what_a_waste_background2.png"
          alt="Stamps using black ink on white paper - a repeating patten of the ‘W’ letter has been stamped across the entire page.
          Across the top of the page, ‘what a waste’ has been placed in large text to take up the width of the page.">
          <h5><em>WHAT A WASTE [2]</em>  2020</h5>
          <p>Material for posters and flyers</p>
        </div>
      </div>
    </div>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
  </body>
</html>