/* Formatting navbar dropdown to have a translucent white background which changes to yellow for any item on the dropdown that is being clicked on */

.dropdown-toggle{
  outline: none;
}

.dropdown-menu{
  border-color: transparent;
  background: rgba(255,255,255, 0.9);
}

.dropdown-item:active{
  background: yellow;
}


/* Formating links at their various stages */

/* unvisited link */
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: grey;
}

/* selected link */
a:active {
  color: yellow;
}